body {
    background-color: darkgray;
    font-family: Garamond;
}
h1 {
    text-align: center;
    color: black;
    font-family: Garamond;
}

h2 {
    color: black;
    font-family: Garamond;
}

.about {
    color: black;
    font-family: Garamond;
}

.skills {
    color: black;
    font-family: Garamond;
}

.projects {
    color: black;
    font-family: Garamond;
}

.contact {
    color: black;
    font-family: Garamond;
}