body {
    background-color: darkgray;
    font-family: Garamond;
}

h1 {
    text-align: center;
    color: black;
    font-family: Garamond;
}

h2 {
    color: black;
    font-family: Garamond;
}

.about {
    color: red;
    background-color: darkred;
    font-family: Garamond;
}

.skills {
    color: red;
    background-color: darkred;
    font-family: Garamond;
}

.projects {
    color: red;
    font-family: Garamond;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
}

.project img {
    width: 450px; /* Default for all project images */
}

.contact {
    color: red;
    background-color: darkred;
    font-family: Garamond;
}
