/* Structure */
body {
    background-image: url("images/background.svg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 70%;
    margin: auto;
    background: #E3B0AB;
    padding: 10px;
    border-radius: 6px;

    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* I found a StackOverflow thread to figure out how to make the content div take up all verticle space https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    background: #6B0504;
    color: #E3B0AB;
    /* I found a StackOverflow thread to figure out how to make the footer stick to the bottom of the page https://stackoverflow.com/questions/55541850/how-to-make-footer-stay-at-bottom-of-the-page-with-flex-box */
}

/* Navigation */
a {
    text-decoration: none;
    color: #E3B0AB;
    background: #6B0504;
    padding: 4px;
    border-radius: 6px;
}

a:hover {
    background: #9B1A17;
}

li a {
    display: block;
    width: fit-content;
    margin-bottom: 5px;
}

#git-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    /* I found a StackOverflow thread to figure out how to center the anchor tag. https://stackoverflow.com/questions/9721831/how-do-i-center-an-anchor-element-in-css */   
}
/* Tables */

/* Typography */
h1 {
    color: #141C24;
    text-align: center;
}

h2 {
    color: #212D38;
    text-align: center;
}

h3 {
    color: #212D38;
}

/* Responsive Design */

/* 600 px or larger */
@media (min-width: 1000px) {
    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        text-align:center;
        border:none;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}